<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - SpendEase</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" type="image/ico" href="../../img/Spendease_Ico/SpendEase-logo.ico">
</head>
<body>
    <header>
        <img src="../../img/Spendease_Ico/SpendEase1 .ico" alt="SpendEase Logo" style="width: 100px;">
        <h1>Sign Up to SpendEase</h1>
    </header>
    <main>
        <section class="signup-container">
            <form action="/backend/src/components/signup.php" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="fullname">Full Name:</label>
                    <input type="text" id="fullname" name="fullname" required>
                </div>
                <div>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <div>
                <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=350239869325-gjhc0ajkrakq1ol1vbo7t6ov2mjhtdlh.apps.googleusercontent.com&redirect_uri=https://spendeasesafe.com/backend/src/components/google-callback.php&scope=email%20profile&access_type=online" class="btn btn-google">Sign Up with Google</a>
                <a href="https://www.facebook.com/v9.0/dialog/oauth?client_id=1397930070906342&redirect_uri=https://spendeasesafe.com/backend/src/components/facebook-callback.php&scope=email" class="btn btn-facebook">Sign Up with Facebook</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 SpendEase. All rights reserved.</p>
        <p><a href="../../privacy/privacy-policy.html">Privacy Policy</a> | <a href="../../privacy/terms-of-service.html">Terms of Service</a></p>
    </footer>
    <script src="../../js/signup.js"></script>
</body>
</html>
