<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Reports - SpendEase</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" type="image/ico" href="../../img/Spendease_Ico/SpendEase-logo.ico">
</head>
<body>
    <header>
        <img src="../../img/Spendease_Ico/SpendEase1 .ico" alt="SpendEase Logo" style="width: 100px;">
        <h1>View Reports</h1>
    </header>
    <main>
        <section>
            <h2>Report Details</h2>
            <div id="report-details">
                <!-- Les détails du rapport seront chargés ici -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 SpendEase. All rights reserved.</p>
        <p><a href="../../privacy/privacy-policy.html">Privacy Policy</a> | <a href="../../privacy/terms-of-service.html">Terms of Service</a></p>
    </footer>
    <script src="../../js/load_report_details.js"></script>
</body>
</html>
