/* Définir les variables de couleurs */
:root {
    --gradient-sulphur: linear-gradient(to right, #CAC531, #F3F9A7);
    --gradient-veryblue: linear-gradient(to right, #0575E6, #021B79);
    --primary-color: #0575E6; /* Couleur principale pour les éléments non dégradés */
    --secondary-color: #CAC531; /* Couleur secondaire */
    --background-color: #F3F9A7; /* Couleur de fond */
    --text-color: #021B79; /* Couleur du texte principal */
    --text-light-color: #ffffff; /* Couleur du texte clair */
}

/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background: var(--gradient-veryblue);
    color: var(--text-light-color);
    padding: 20px;
    text-align: center;
}

header img {
    width: 50px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

/* Sections */
section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulaires */
form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: var(--primary-color);
    color: var(--text-light-color);
    border: none;
    cursor: pointer;
}

form button:hover {
    background: var(--secondary-color);
}

/* Boutons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--text-light-color);
}

button:hover {
    background: var(--secondary-color);
}

/* Pied de page */
footer {
    background: var(--gradient-veryblue);
    color: var(--text-light-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsivité */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    section {
        margin: 10px;
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    section {
        margin: 40px;
        padding: 30px;
    }

    form input, form select, form textarea, form button {
        font-size: 1.2em;
    }
}
